
    <div class="tasks-table"> 
    <table>
      <thead>
        <tr>
          <th>Task Title</th>
          <th>Task Code</th>
          <th>Status</th>
          <th>Assigned To</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody>
  @for(task of tasks; track task.id) {
          <tr class="task-item">
            <td>{{ task.t_title }}</td>
            <td>{{ task.t_code }}</td>
            <td class="status-item">
              @if (task.t_status == "Completed") {
                <div class="greenBullet"></div>
              } @else {
                <div class="redBullet"></div>
              }
              <span>{{ task.t_status }}</span>
            </td>
            <td>{{task.firstname}} {{task.lastname}}</td>
            <td>{{ task.duedate }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>