
.tasks-list {
    min-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
    background-color: #3498db;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.task-list {
    padding: 20px;
}

.taskitem {
    margin-bottom: 20px;
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
}

.status-item {
    margin-top: 10px;
    font-size: 14px;
    color: #7f8c8d;
    display: flex;
    align-items: center;
    gap:5px
}

.redBullet{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}
.greenBullet{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}