
app-task{
    display: flex;
    height: 100%;
    width: 100%;
}

app-task-category{
    display: flex;
    justify-content: center;
    align-items:center ;
    border-radius: 12px;
    
}
app-user{
    width:40%;
  
}
app-project{
    width: 100%;
}
app-team{
    width: 100%;
}