
app-task{
    display: flex;
    height: 100%;
}

app-task-category{
    background-color: rgb(226, 219, 217);
    border-radius: 12px;
}
app-user{
    width:40%;
  
}
app-project{
    width: 100%;
}