

  .register-title{
    text-align: center;
    font-family:Cambria;
    
  }
  .validation-error{
    color: red;
    margin-bottom: 3px;
    font-family:Cambria;
  }
 
.register-container {
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .register-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-family:Cambria;
    border-radius: 12px;
    box-shadow: 21px 19px 42px 5px rgba(0,0,0,0.1),-22px -18px 39px 11px rgba(0,0,0,0.1);
  }

  .register-form label {
    font-weight: bold;
    display: block;
      }
form{
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.name{
  width: 90%;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.name input{
  width: 98%;
}
.item{
  width: 90%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
}
   input {
    width: 100%;
    height: 25px;
    font-family:Cambria;
    border-radius: 5px;
  }

  .register-form button {
    background-color: #1a233f;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-family:Cambria;
    border-radius: 5px;
    font-size: medium;
  }

  .register-form button:hover {
    background-color: #ddd;
    color: rgb(49, 107, 49);
  }

  #roleId{
    width: 100%;
    padding: 7px;
  }