<div class="task-head">
    <h2>{{task.t_title}}</h2>
</div>


<div class="task-details">
    <div class="task-info">
        <strong>Code:</strong>
        <span>{{task.t_code}}</span>
    </div>
    <div class="task-info">
        <strong>Description:</strong>
        <span>{{task.t_description}}</span>
    </div>
    <div class="task-info">
        <strong>Due Date:</strong>
        <span>{{task.duedate}}</span>
    </div>
    <div class="task-info">
        <strong>Status:</strong>
        <span>{{task.t_status}}</span>
    </div>
    <div class="task-info">
        <strong>Assigned To:</strong>
        <span>{{task.firstname}} {{task.lastname}}</span>
    </div>
    <div class="task-info">
        <strong>Project:</strong>
        <span>{{task.project_name}}</span>
    </div>
    <div class="task-info">
        <strong>Category:</strong>
        <span>{{task.c_name}}</span>
    </div>
    <div class="task-info">
        <strong>Priority:</strong>
        <span>{{task.type}}</span>
    </div>

</div>

